<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.demo.mapper.DietaryCalendarMapper">
  <resultMap id="BaseResultMap" type="com.demo.demo.model.DietaryCalendar">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="FOOD_NAME" jdbcType="VARCHAR" property="foodName" />
    <result column="FOOD_TYPE" jdbcType="INTEGER" property="foodType" />
    <result column="FOOD_TAG" jdbcType="INTEGER" property="foodTag" />
    <result column="FOOD_PRICE" jdbcType="VARCHAR" property="foodPrice" />
    <result column="MAMAL_FLAG" jdbcType="TINYINT" property="mamalFlag" />
    <result column="SUPPLY_DATE" jdbcType="INTEGER" property="supplyDate" />
    <result column="SUPPLY_TYPE" jdbcType="INTEGER" property="supplyType" />
    <result column="FOOD_PICTURE" jdbcType="LONGVARBINARY" property="foodPicture" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dietary_calendar
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.demo.model.DietaryCalendar">
    insert into dietary_calendar (ID, CREATE_DATE, FOOD_NAME, 
      FOOD_TYPE, FOOD_TAG, FOOD_PRICE, 
      MAMAL_FLAG, SUPPLY_DATE, SUPPLY_TYPE, 
      FOOD_PICTURE)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}, #{foodName,jdbcType=VARCHAR}, 
      #{foodType,jdbcType=INTEGER}, #{foodTag,jdbcType=INTEGER}, #{foodPrice,jdbcType=VARCHAR}, 
      #{mamalFlag,jdbcType=TINYINT}, #{supplyDate,jdbcType=INTEGER}, #{supplyType,jdbcType=INTEGER}, 
      #{foodPicture,jdbcType=LONGVARBINARY})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demo.demo.model.DietaryCalendar">
    update dietary_calendar
    set CREATE_DATE = #{createDate,jdbcType=DATE},
      FOOD_NAME = #{foodName,jdbcType=VARCHAR},
      FOOD_TYPE = #{foodType,jdbcType=INTEGER},
      FOOD_TAG = #{foodTag,jdbcType=INTEGER},
      FOOD_PRICE = #{foodPrice,jdbcType=VARCHAR},
      MAMAL_FLAG = #{mamalFlag,jdbcType=TINYINT},
      SUPPLY_DATE = #{supplyDate,jdbcType=INTEGER},
      SUPPLY_TYPE = #{supplyType,jdbcType=INTEGER},
      FOOD_PICTURE = #{foodPicture,jdbcType=LONGVARBINARY}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, CREATE_DATE, FOOD_NAME, FOOD_TYPE, FOOD_TAG, FOOD_PRICE, MAMAL_FLAG, SUPPLY_DATE, 
    SUPPLY_TYPE, FOOD_PICTURE
    from dietary_calendar
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, CREATE_DATE, FOOD_NAME, FOOD_TYPE, FOOD_TAG, FOOD_PRICE, MAMAL_FLAG, SUPPLY_DATE, 
    SUPPLY_TYPE, FOOD_PICTURE
    from dietary_calendar
  </select>
</mapper>