<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.demo.mapper.NurseRecordMapper">
  <resultMap id="BaseResultMap" type="com.demo.demo.model.NurseRecord">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customername" />
    <result column="NURSINGNAME" jdbcType="VARCHAR" property="nursingname" />
    <result column="TIME" jdbcType="DATE" property="time" />
    <result column="COUNT" jdbcType="VARCHAR" property="count" />
    <result column="STAFFNAME" jdbcType="VARCHAR" property="staffname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nurse_record
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.demo.model.NurseRecord">
    insert into nurse_record (ID, CUSTOMERNAME, NURSINGNAME,
                              TIME, COUNT, STAFFNAME
    )
    values (#{id,jdbcType=INTEGER}, #{customername,jdbcType=VARCHAR}, #{nursingname,jdbcType=VARCHAR},
            #{time,jdbcType=DATE}, #{count,jdbcType=VARCHAR}, #{staffname,jdbcType=VARCHAR}
           )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demo.demo.model.NurseRecord">
    update nurse_record
    set CUSTOMERNAME = #{customername,jdbcType=VARCHAR},
        NURSINGNAME = #{nursingname,jdbcType=VARCHAR},
        TIME = #{time,jdbcType=DATE},
        COUNT = #{count,jdbcType=VARCHAR},
        STAFFNAME = #{staffname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, CUSTOMERNAME, NURSINGNAME, TIME, COUNT, STAFFNAME
    from nurse_record
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="com.demo.demo.model.NurseRecord" resultMap="BaseResultMap">
    select ID, CUSTOMERNAME, NURSINGNAME, TIME, COUNT, STAFFNAME
    from nurse_record
    <where>
      <if test="customername != null and customername != ''">
        and customername like concat('%',#{customername},'%')
      </if>
    </where>
  </select>
</mapper>